{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'app6/search.css' %}">
  <link rel="stylesheet" href="{% static 'app6/myCSS.css' %}"/>
  <link href="{% static 'app6/bootstrap.min.css' %}" rel="stylesheet">
<title>Books Search Software</title>
<body class="#212121 grey darken-4">

	<div class="container">
		<div id="search" class="#f5f5f5 grey lighten-4 z-depth-5">
			<form id="myform">
				<div class="input-field">
					<input type="search" id="books">
					<label for="search" style="color: black; font-size:large; text-shadow:none;">Search Books</label>
				</div>
				<button class="btn red">Search Books</button>
			</form>
		</div>

		<div id="display-btn" style="text-align: center; margin-top: auto;"></div>
		<div id="result">
			<table class="table table-striped table-dark center" id="main-table">
				<thead>
				<tr>
					<th scope="col">Title</th>
					<th scope="col">Author</th>
					<th scope="col">Likes</th>
				</tr>
				</thead> 
				<tbody id="table-contents">
				</tbody>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="{% static 'app6/myscript.js' %}"></script>
</body>
</head>
</html>